<html>
<head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	referir_amigo

	links de redes sociales
	facebook
	<a href="https://facebook.com/sharer.php?u=https%3A%2F%2Fwayn.com.co%2Flanzamiento%2F{{referrer_code}}%2F" target="_blank"><i class="fa fa-facebook"></i></a>

	twitter
	<a href="https://twitter.com/intent/tweet?text=La%20experiencia%20de%20vinos%20que%20nunca%20has visto%20https%3A%2F%2Fwayn.com.co%2Flanzamiento%2F{{referrer_code}}%2F" target="_blank"><i class="fa fa-twitter"></i></a>

	whatsapp
	<a href="https://api.whatsapp.com/send?text=https%3A%2F%2Fwayn.com.co%2Flanzamiento%2F{{referrer_code}}%2F" target="_blank"><i class="fa fa-whatsapp"></i></a>

</body>
</html>
