* {
    margin: 0;
    padding: 0
}
body {
  font-family: Roboto, sans-serif;
	overflow-y: scroll;
    overflow-x: hidden
}
h1, h2, h3{
	font-family: Montserrat, sans-serif;
}
h1{
	font-size: 2.75em;
	color: #333;
}
p{
	font-family: Roboto, sans-serif
}
canvas {
  background:linear-gradient(#30104b, #4b304b);
  background:#fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
  box-shadow: 0 0 5px 5px rgba(0,7,99,0);
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }

/******HOME********/
/*****************/
.header {
    background: url(../imagenes/wine_img.jpg) right bottom no-repeat;
    background-size: 80vh;
    height: 100vh;
}
.texto_principal{
	margin-top: 15vh
}
.header h1:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
.texto_principal p{
	font-size: 25px;
	margin-top: 50px;
	margin-bottom: 50PX;
	color: #3D3D3D;
	width: 80%
}

.navbar{
	background-color: transparent!important;
  padding-bottom: 10px;
  }
.navbar-collapse{
  margin-top: 30px;
}
.navbar-brand img {
  max-width: 80%
}
.nav-item a{
	margin-left: 50px !important;
	color: #333 !important;
	font-size: 15px; !important;
}
.btn_empieza{
	padding: 14px 40px;
	letter-spacing: 1px;
	font-weight: 500;
	margin-top: 20px;
	margin-left: 30%;
	background-color: #493051;
	color: #fff;
	border-radius: 5px;
	border-style: none;
	/*border-radius: 40px;*/
}
.btn_empieza:hover{
	cursor: pointer;
	}


/******COMO FUNCIONA********/
/***************************/
.como_funciona{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #f6f6f6;
}
.como_funciona h2{
	position: relative;
	text-align: center;
	}
.como_funciona p{
	font-size: 16px;
	color: #3D3D3D;;
	text-align: center
}
.como_funciona h3{
	font-size: 28px;
	text-align: center
}
.como_funciona h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
.instrucciones{
	margin-top: 80px;
}
.instrucciones h3{
	font-size: 1.2em;
}
.instrucciones .num_grande{
	font-size: 1.2em;
}
.instrucciones img{
	width: 55%
}
.btn-test{
	/*margin-left: 45%;*/
	letter-spacing: 1px;
	padding: 14px 45px;
	font-weight: 500;
	margin-top: 50px;
	border-radius: 5px;
	background-color: #493051;
	border-style: none;
	color: #fff;
}
.btn-test:hover{
	cursor: pointer;
}
.btn-test a{
	color: #fff;
	text-decoration: none;
}
/******ALGORITMO********/
/***********************/
.algoritmo{
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #28282e;
}
.algoritmo h2{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #fff;
}
 .algoritmo h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
    }
.algoritmo h2 span{
  font-family: roboto;
  letter-spacing: 0.15em;
  font-size: 0.8em
}
.algoritmo p{
	font-size: 18px;
	color: #fff;
}
.algoritmo img{
	margin-top: 100px;
}
.btn-descubre{
	background-color: #fff;
	letter-spacing: 1px;
	color: #000;
	padding: 14px 45px;
	font-weight: 500;
	margin-top: 60px;
	border-style: none;
	border-radius: 5px;

}
.btn-descubre:hover{
	background-color: #493051;
	color: #fff;
	cursor: pointer;
}

/******PROPOSITO********/
/***********************/
.proposito{
	padding-top: 100px;
	padding-bottom: 100px;
	 }
.proposito h2{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #333;
}
.proposito h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
    }
.proposito p{
	font-size: 20px;
	color: #000;
}
.proposito img{
	margin-top: 80px;
	max-width: 100%;
	}



/******PLANES********/
/*******************/
.precios{
	background-color: #f1f1f1;
	padding-top: 100px;
	padding-bottom:50px;
}
.precios a {
  text-decoration: none;
}
.precios h2{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	color: #333;
}
.precios h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 45%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
.precios p{
	font-size: 20px;
	color: #333;
	margin-bottom: 90px;
}

label {
    margin-bottom: 0 !important
}


#PLANES .signup-box {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background-color: #fff;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.075)
}


#PLANES .plan-header {
    padding: 16px 0;
    text-align: center
}

#PLANES .plan-header__title {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.2;
    padding: 15px;
    color: #303236
}



#PLANES .plan-header__description {
    color: #6a6d75;
    font-size: 14px;
    margin: 0
}

#PLANES .plan-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    position: relative
}




#PLANES .plan-image.plan-image--family {
    background-image: url("/static/waynapp/imagenes/wine_price.jpg")
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(-min--moz-device-pixel-ratio: 1.5),
(-o-min-device-pixel-ratio: 3 / 2),
(-min-device-pixel-ratio: 1.5) {

    #PLANES .plan-image {
    height: 200px;
    }
}

#PLANES .plan-quantity-selector {
    padding-top: 20px;
    text-align: center
}

#PLANES .plan-quantity-selector__radio-inputs {
    position: relative;
    border: solid rgba(117, 129, 167, 0.25) 1px;
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgba(195, 195, 195, 0.25);
    }

#PLANES .plan-quantity-selector__radio-inputs label {
    position: relative;
    box-sizing: border-box;
    width: 60px;
    padding: 15px;
    cursor: pointer;
    z-index: 1;
    text-align: center
}

#PLANES .plan-quantity-selector__radio-inputs input[type="radio"] {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

#PLANES .plan-quantity-selector__radio-inputs input[type="radio"]:checked+label>span {
    color: white
}

#PLANES .plan-quantity-selector__radio-inputs input[type="radio"]:checked+label {
    background-color: #493051
}

#PLANES .plan-quantity-selector__description {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #303236;
    margin: 0
}

#PLANES .plan-pricing {
    padding-top: 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center
}

#PLANES .plan-pricing--hidden {
    display: none
}

#PLANES .plan-pricing__price {
    box-sizing: border-box;
    width: 33%;
    color: #303236;
    font-size: 22px;
    position: relative;
    height: 50px;
    }

#PLANES .plan-pricing__price--strikethrough {
    margin-top: -18px
}

#PLANES .plan-pricing__price:not(:last-child)::after {
    content: '';
    width: 1px;
    background-color: #e4e6eb;
    height: 40px;
    position: absolute;
    top: 5px;
    right: 0
}

#PLANES .plan-pricing__item {
  font-size: 1.2em;
    color:  #179b77;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 4px
}
#PLANES .plan-pricing__item .signo_peso{
  font-size: 0.8em;
}

#PLANES .plan-pricing__item--strikethrough {
    text-decoration: line-through;
    color: #d3d5db;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 2px
}

#PLANES .plan-pricing__item--discount {
    color: #00a682
}

#PLANES .plan-pricing__item--bold {
    color: red
  }

#PLANES .plan-pricing__description {
    color: #6a6d75;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 4px
}

#PLANES .plan-button {
    padding: 20px 16px
}

#PLANES .plan-button .btn--full{
  letter-spacing: 1px;
  padding: 20px;
  font-weight: 500;
  border-radius: 5px;
  background-color: #493051;
  border-style: none;
  color: #fff;
}

#PLANES .plan-button .btn--full:hover{
    background-color: #674472
}


.precios .pricing-table__list {
  padding: 10px 10px;
  color: #333;
}
.precios .pricing-table__list .envios{
  font-weight: 500;
  text-align: left;
}
.precios .pricing-table__list li {
  padding: 10px;
  border-bottom: 1px solid #c8c8c8;
  list-style-type: none;
}
.precios .price-table-wrapper .pricing-table__list li:last-child {
  border: none;
}


@media (max-width:500px) {
  #PLANES .plan-header__title {
    font-size: 1.5em;
    line-height: 1;
    }
    #PLANES .plan-pricing__item {
  font-size: 0.9em;
}
   .precios p{
    margin-bottom: 50px;
  }

}

/******REDES********/
/******************/
.redes{
	background-color: #4a4a55;
	}
 .redes .iconos{
 	display: flex;
  justify-content: center;
}

 .redes .iconos a {
 	color: #fff;
 	margin: 50px;
 	font-size: 50px;
 }

/******FOOTER********/
/*******************/
.footer{
	background-color: #28282e;
	padding: 30px;
}

.footer .elem_footer p{
	color: #ccc;
	font-size: 12px;
}




/******REGISTRO********/
/*********************/
.registro{
	background-color: #f7f7f7;
	padding-bottom: 100px;
}
.registro h1{
	color: #4a4055;
	padding-top: 100px;
	padding-bottom: 20px;
	font-size: 2em;
}


.registro a {
  text-decoration: none;
  color: #1ab188;
  transition: 0.5s ease;
}
.registro a:hover {
  color: #179b77;
}

.registro .form {
  background: #fff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  }
  .registro .frase {
  background: #fff;
  padding: 40px 20px;
  border-radius: 4px;
  margin: auto
  }
  .registro .frase img{
   max-width: 300px;
   margin-bottom: 20px

  }
.registro .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.registro .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.registro .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.registro .tab-group li a:hover {
  background: #179b77;
  color: #ffffff;
}
.registro .tab-group .active a {
  background: #1ab188;
  color: #ffffff;
}

.registro .tab-content > div:last-child {
  display: none;
}

.registro h2 {
  text-align: center;
  color: #505050;
  font-size: 1.5em;
  margin: 0 0 40px;
}

.registro label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(0, 0, 0, 0.8);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
.registro label .req {
  margin: 2px;
  color: #333;
}

.registro label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.registro label.active .req {
  opacity: 0;
}

.registro label.highlight {
  color: #505050;
}

.registro input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #505050;
  border-radius: 5px;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}
.registro input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.registro textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.registro .field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.registro .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.registro .top-row > div {
  float: left;
  width: 100%;      /*48% si se pone el apellido*/
  margin-right: 4%;
}
.registro .top-row > div:last-child {
  margin: 0;
}

.registro .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.registro .button:hover, .button:focus {
  background: #179b77;
}

.registro .button-block {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.registro .forgot {
  margin-top: -20px;
  text-align: right;
}

.registro h5, p{
	color: #ADADAD;
	}


/******TINTO-BLANCO********/
/**************************/


.tinto-blanco{
	background-color: #f1f1f1;
	padding-top: 100px;
	padding-bottom:50px;
	min-height: 80vh
}

.tinto-blanco h2{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	color: #333;
}
.tinto-blanco h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 45%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
.tinto-blanco p{
	font-size: 20px;
	color: #333;
	margin-bottom: 0px;
}

/* Reset Select */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Custom Select */
.select {
  position: relative;
  display: block;
  max-width: 20em;
  height: 3.5em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: 5px;
  margin: 50px auto 50px;
}
select {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #ccc;
}
.select::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/******SELECCION***********/
/**************************/

.seleccion {
	background-color: #f1f1f1;
	padding-top: 80px;
	padding-bottom:50px;
	min-height: 80vh
}

.seleccion h2{
	position: relative;
	text-align: center;
	margin-bottom: 50px;
	color: #333;
}
.seleccion h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 45%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
.seleccion p{
	font-size: 20px;
	color: #333;
	margin-bottom: 50px;
}

.seleccion .seleccion-table-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: center;
}
.seleccion .seleccion-table-wrapper .ficha-individual{
	background: #fff;
	border-radius: 5px;
	max-width: 300px;
	margin-bottom: 30px;
}

.seleccion .seleccion-table-wrapper .ficha-individual img{
	margin: 20px auto;
	max-width: 100%
}

.seleccion .seleccion-table-wrapper .ficha-individual h3{
	font-size: 22px;
}
.seleccion .seleccion-table-wrapper .ficha-individual h4{
	margin: auto;
	padding-top: 30px;
	font-size: 20px;
	color: #3D3D3D
	}
.seleccion .seleccion-table-wrapper .ficha-individual p{
	padding-bottom: 15px;
	width: 80%;
	margin: auto;
	 border-bottom: 1px solid #c8c8c8;
}


.seleccion .seleccion-table-wrapper .pricing-table__button {
  display: block;
  background: rgba(0,0,0,0.2);
  text-decoration: none;
  padding: 20px;
  color: #000;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.seleccion .seleccion-table-wrapper .pricing-table__button:before {
  position: absolute;
  left: -20%;
  top: -10%;
  content: '';
  width: 60%;
  height: 220%;
  transform: rotate(-30deg);
  background: rgba(255,255,255,0.4);
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
}
.seleccion .seleccion-table-wrapperr .pricing-table__button:after {
  position: absolute;
  content: '>';
  top: 0;
  right: 0;
  font-size: 25px;
  padding: 15px;
  padding-right: 40px;
  color: white;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.seleccion .seleccion-table-wrapper .pricing-table__button:hover {
	color: #fff;
  background: #28282e;
}

.btn-pago{
	/*margin-left: 45%;*/
	letter-spacing: 1px;
	padding: 14px 45px;
	font-weight: 500;
	margin-top: 50px;
	border-radius: 5px;
	background-color: #179b77;
	border-style: none;
	color: #fff;
}
.btn-pago:hover{
	cursor: pointer;
	background-color: #21D4A3;
}
.btn-pago a{
	color: #fff;
	text-decoration: none;
}
.seleccion h5{
  font-size: 0.9em
}


/*********TEST*************/
/**************************/
.test{
  background-color: #f1f1f1;
  padding-top: 100px;
  padding-bottom:50px;
  min-height: 80vh
}



#pregunta_imagen{
  background-color: #0000FF;
}
#carouselArchitecture{
  border-color: transparent !important;
  box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.1);
  background-color: #FAFAFA;
  color: #333;
}

.test .btn{
  border-radius: 5px !important;
  border-width: 1px !important;
  /*border-color: #493051 !important;*/
  color: #333 !important;
  outline-color: none !important;
  max-width: 90%;
  margin: 15px auto !important;
  padding: 0.7em;
  background-color: #ddd;
}
.test .btn:hover{
  background-color: #493051;
  color: #fff !important;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  box-shadow: inset 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #493051;
  transition: width 0.6s ease;
}

.test img{
  margin-bottom: 50px;
  max-width: 90%;
  margin: 0 auto 50px auto;
  }
.test h1{
  font-size: 2em;
}
.test h2{
  font-size: 1.5em;
  font-weight: 500;
}

.test a{
  text-decoration: none;
}
.medios img{
  max-height: 30px;
}
.pago_seguro{
  border-top: 1px solid #ccc;
  margin-top: 80px;
}
.pago_seguro p{
  margin-top: 20px;
  font-size: 1em
}
.medios{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/*********PERFIL VINO*************/
/*********************************/

.perfil_vino{
  background-color: #f1f1f1;
  padding-top: 80px;
  padding-bottom:80px;
  }

.perfil_vino h2{
  position: relative;
  margin-bottom: 50px;
  color: #333
}
  .perfil_vino h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
 .perfil_vino img{
    max-width: 100%
  }
.perfil_vino p{
  color: #333;
  padding-bottom: 20px;
  border-bottom: 1px solid #c8c8c8;
}
.perfil_vino h4{
  font-size: 35px;
  color: #333
}
.perfil_vino i{
  padding-left: 0.1em;
  font-size: 45px;
  color: #999;
}
.perfil_vino table{
  margin-bottom: 40px
}
.perfil_vino table th{
  min-width: 100px;
  color: #333
}
.radar_vino{
  padding-top: 80px;
  padding-bottom: 80px

}
.radar_vino h2{
  position: relative;
  color: #808080;
}
  .radar_vino h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 42%;
    width: 50px;
    height: 3px;
    background-color: #7C4574;
}
.radar_vino p{
  color: #333;
  margin-top: 50px;
}


/****    MEDIA QUERIES     ****/
/*****************************/
@media (max-width:1500px) {
  .header {
    background-size: 70vh;
    }
  .algoritmo img{
  max-width: 130%
  }
  .instrucciones img{
  width: 60%;
  }
  .proposito img{
  max-width: 100%
  }
}

@media (max-width:990px) {
  .header {
      background-size: 40vh;
    }
    .navbar-brand img {
        position: absolute;
        top: 10px;
        max-width: 50%
    }
    .navbar{
  padding-bottom: 80px;
  }
    .btn_empieza {
  padding: 20px 40px;
  }
    .texto_principal{
  margin-top: 15vh;
  }
  .texto_principal p{
  margin-top: 30px;
  width: 100%
  }
  .como_funciona p{
  font-size: 16px;
  }
  .algoritmo h2{
  margin-top: 0;
  }
  .algoritmo p{
  font-size: 16px;
  }
  .instrucciones .num_grande{
  font-size: 2em;
  }
  .instrucciones img{
  width: 80%;
  }
  .algoritmo img{
  margin-top: 200px;
  max-width: 100%
  }
  .proposito img{
  margin-top: 200px;
  max-width: 100%
  }
  .proposito h2{
    margin-top: 0;
  }
  .proposito p{
    font-size: 16px;
  }
}

@media (max-width:500px) {
  h1{
      font-size: 1.5em;
    }
        .navbar{
  padding-bottom: 50px;
  }
    .texto_principal{
  margin-top: 2vh;
  }
  .texto_principal p{
  font-size: 16px;
  margin-top: 30px;
  width: 100%
  }
    .btn_empieza {
    margin-top: -15px;
    padding: 15px 25px;
  margin-left: 0;
  }
  .btn-test {
  margin-top: 20px;
  padding: 20px 50px;
  }
  .btn-descubre {
  margin-top: 40px;
  padding: 20px 50px;
  }
  .como_funciona{
  padding-bottom: 70px;
  }
  .instrucciones .num_grande{
  font-size: 1.8em;
  }
  .algoritmo{
  padding-bottom: 70px;
  }
  .instrucciones img{
  max-width: 50%;
  }
  .algoritmo img{
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 100%
  }
  .proposito img{
  margin-top: 40px;
  max-width: 100%
  }
  .precios{
    padding-top: 40px;
  }
  .precios p{
    font-size: 16px;
  }
  .test{
    padding-top: 35px;
  }
  .test img{
  margin-bottom: 10px;
  margin-left: 0px;
  max-width: 100%;
  }
  .test h1{
    font-size: 1.5em;
  }
  .registro{
  }
  .registro h1{
    padding-top: 35px;
    padding-bottom: 0px;
    font-size: 1.4em;
  }
  .seleccion{
    padding-top: 40px
  }
  .tinto-blanco{
  padding-top: 30px;
  }
  .perfil_vino h2{
    margin-top: 50px;
  }
}

.carousel-indicators{
  display: none;
}
